{% extends "index.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
       <h1 class="mt-5">Witaj w mojej bibliotece filmów</h1>
       <p class="lead">Seriale, emitowane w dniu: <strong>{{ today }} {{ timezone }}</strong></p>
    </div>
    {% for movie in movies %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img src="{{ tmdb_image_url(movie.poster_path, "w780") }}">
            <div class="card-body d-flex flex-row justify-content-center align-items-center">
                <h4 class="card-title text-center">{{ movie.name }}</h4>
            </div>
            <div class="card-footer text-center">
                <a href="{{ url_for('movie_details', movie_id=movie.id) }}">Pokaż więcej</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}